@media (max-width: 1800px){
  .item .image-wrapper {
    height: 300px;
  }
}
@media (max-width: 1700px){
  .item .image-wrapper {
    height: 280px;
  }
}
@media (max-width: 1600px){
  .item .image-wrapper {
    height: 260px;
  }
}
//@media (max-width: 1500px){
//  .item .image-wrapper {
//    height: 240px;
//  }
//}

//.item .image-wrapper {
//  width: 50%;
//  height: 300px;
//}
@media (max-width: 1560px){
  .item{
    button {
      font-size: 15px;
    }
  }
  .item .description-wrapper{
      font-size: 17px;
  }

}



@media (max-width: 1440px) {
  .brand-name {
    p {
      width: 85%;
    }
  }
  .logo {
    img {
      width: 60%;
    }
  }
  .day-offer {
    width: 100%;
  }
  .product-cart {
    button {
      width: 45%;
      font-size: 16px;
    }
  }
  .choose {
    span {
      font-size: 18px;
    }
  }
  .choose .products .product-cart {
    span {
      font-size: 18px;
    }
  }
  .choose {
    h2 {
      width: 60%;
    }
  }
  .map{
    div {
      width: 50%;
    }
  }
  .map{
    p {
      font-size: 63px;
      text-align: center;
    }
  }
  .reserve-form {
    width: 60%;
  }
  .item{
    button {
      font-size: 14px;
    }
  }
  .item .description-wrapper{
    font-size: 16px;
  }
  .left-section, .right-section{
    h1{
      font-size: 1.6rem;
    }
  }
  .social{
    img{
      width: 60%;
    }
  }
  .item .image-wrapper {
    height: 240px;
  }
}
  @media (max-width: 1335px){
    .item{
      button {
        font-size: 13px;
        padding: 8px;
      }
    }
    .item .image-wrapper {
      height: 220px;
    }
    //.item {
    //  div {
    //    font-size: 16px;
    //  }
    //}
}
@media (max-width: 1280px) {
  .brand-name {
    h1 {
      font-size: 90px;
      margin-bottom: -35px;
    }
  }
  .brand-name {
    h2 {
      font-size: 50px;
    }
  }
  .brand-name {
    p {
      font-size: 17px;
      width: 75%;
    }
  }
  .menu {
    a {
      font-size: 20px;
    }
  }
  .delivery {
    * {
      font-size: 15px;
    }
  }

  .top-image {
    height: 167px;
  }
  .bottom-image {
    height: 167px;
  }
  .popular {
    justify-content: space-around;
  }
  .choose {
    h2 {
      width: 70%;
    }
  }
  .choose {
    span {
      font-size: 16px;
    }
  }
  .choose .products .product-cart {
    span {
      font-size: 16px;
    }
  }
  .map{
    div {
      width: 55%;
    }
  }
  .map{
    p{
      font-size: 55px;
    }
  }
  .label {
    width: 130px;
    height: 130px;
  }
  .label{
    div{
      width: 110px;
      height: 110px;
    }
  }
  .label{
    p{
    font-size: 35px;
    }
  }
  .reserve-form {
    width: 70%;
  }
  .item{
    button {
      font-size: 12px;
    }
  }
  .item .description-wrapper{
    font-size: 14px;
  }
  .item .image-wrapper {
    height: 200px;
  }
}
@media (max-width: 1150px){
  .item{
    button {
      font-size: 11px;
      padding: 6px;
    }
  }
  .item .description-wrapper{
    font-size: 13px;
  }
  .item .image-wrapper {
    height: 180px;
  }
}
@media (max-width: 1024px) {
  .delivery-menu {
    width: 35%;
  }
  .label {
    width: 110px;
    height: 110px;
  }
  .label {
    div {
      width: 90px;
      height: 90px;
      top: 7%;
      right: 7%;
    }
  }
  .label {
    p {
      font-size: 30px;
    }
  }
  .brand-image {
    width: 45%;
  }
  .logo {
    img {
      width: 70%;
    }
  }
  .top-image {
    height: 135px;
  }
  .bottom-image {
    height: 135px;
  }
  .popular {
    justify-content: space-evenly;
  }
  .offer {
    @include offer-less;
  }
  .choose {
    p {
      font-size: 20px;
      width: 20%;
    }
  }
  .day-offer {
    margin: 0 auto 85px;
  }
  .choose {
    h2 {
      width: 80%;
    }
  }
  .choose {
    span {
      font-size: 14px;
    }
  }
  .choose .products .product-cart {
    span {
      font-size: 14px;
    }
  }
  .product-cart {
    button {
      font-size: 12px;
    }
  }
  .reserve-form {
    width: 90%;
  }
  .form{
    h2 {
      width: 70%;
    }
  }
  .map{
    flex-direction: column;
  }
  .map{
    div {
      width: 70%;
    }
  }
  .map{
    p {
      width: 100%;
    }
  }
  .menu-list-wr {
    flex-direction: column;
  }
  .item {
    width: $width;
  }
  .item .description-wrapper{
    font-size: 28px;
    font-size: 28px;
    justify-content: space-evenly;
    border-top: 1px solid;
  }
  //.item {
  //  div {
  //    font-size: 28px;
  //    justify-content: space-evenly;
  //    border-top: 1px solid;
  //  }
  //}
  .item{
    button {
      font-size: 25px;
      padding: 10px;
    }
  }
  .footer .about{
    font-size: 18px;
  }
  .item .image-wrapper {
    height: 450px;
  }
}




